body{
    background-color:#F2F2F2 ;
    width: 100%;
    height: 100vh;
}
div{
    width: 100%;
    height: 100vh;
    background-color: #E0E8FF;
    
    
    
}
.child{
    width: 450px;
    height: 697px;
    border-radius: 20px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    border-radius: 20px;
    margin: auto;
    

}
.text1{
    width:354px ;
    height: 78px;
}
.N1{
    position: absolute;
    width: 450px;
    height: 220px;
    
left: 0%;
right: 0%;
top: 0%;
bottom: 68.44%;

background: #382AE1;
border-radius: 20px 20px 0px 0px;
}
.N2{
    position: relative;
    width: 450px;
    height: 220px;

}
.N3{
    position: absolute;
left: 11.11%;
right: 82.13%;
top: 10.1%;
bottom: 84.92%;

}
.bigchild{
    width: 450px;
    height: 220px;
    background-color: #698DFF;
    position: absolute;
    border-radius: 20px;
}
.parent{
    align-items: center;
    justify-content: center;
    
}
.title1{
    position: absolute;
    height: 37px;
    left: 10.67%;
    right: 10.67%;
    top: calc(50% - 37px/2 - 65px);
    
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    color: #1F2E55;
    
    text-align: center;
}
p{
    position: absolute;
height: 78px;
left: 10.67%;
right: 10.67%;
top: calc(50% - 78px/2 + 9.5px);
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #717FA6;

}
.musicee{
    width: 354px;
    height: 98px;
    background-color: 
    #F7F9FF;
    margin-top: 200px;
    margin: auto;
    display: flex;
    margin-top: 200px;
    
}
.music1{
    height: 48px;
    width: 48px;
    margin: 24px;
    position: absolute;
    
}
.music2{
 width: 17.85px;
 height: 18px;
 margin: 39px; 
 position: relative;
}
.title2{
    position: absolute;
    justify-content: center;
    color: #1F2E55;
    justify-self: center;
    display: flex;
    margin: auto;
    margin-left: 92px ;
    margin-top: 25px;
}
.text2{
    position: absolute;
    align-items: center;
    margin-top: 160px;
    color: #717FA6;
    margin-right: 30px;
}
.link{
    color:#382AE1;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 200px;


}
.but{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 120PX;
    width: 354px;
    height: 50px;
    background-color: #382AE1;
    border-radius: 11px;
    color:#FFFFFF ;
    box-shadow: 0 20px 20px;
    
}
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 200px;
    margin-left: 120px;
    color:  #717FA6;
    width: 96px;
    height: 20px;
}
